body{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
h1{
  text-align: center;
}
.header{
  text-align: center;
}
.btn-ctn{
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn{
  box-sizing: border-box;
  background-color: #ff0157;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.btn:hover{
  letter-spacing: 5px;
}